<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<body>
    <div class="container1">
        <h1>Add Song</h1>
        <form action="{% url 'create_song' %}" method="post">
            {% csrf_token %}
            <label for="">OwnerID</label><br><br>
            <input type="number" name="owner"><br><br>

            <label for="">Title</label><br><br>
            <input type="text" name="title"><br><br>

            <label for="">Occasion</label><br><br>
            <input type="text" name="occasion"><br><br>

            <label for="">Genre</label><br><br>
            <input type="text" name="genre"><br><br>

            <label for="">Singer voice type</label><br><br>
            <input type="text" name="singer_voice_type"><br><br>

            <label for="">Mood</label><br><br>
            <input type="text" name="mood"><br><br>

            <button type="submit" id="new">Submit</button>
        </form>
    </div>
</body>

</html>