<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<body>
    <div class="container">
        <h1>Users</h1>
        <a href="/users/"><button id="new3">Users</button></a>
        <h1>Songs</h1>
        <a href="/songs/"><button id="new3">Songs</button></a>
    </div>
</body>

</html>